services:
  redis:
    image: redis:7
    ports:
      - "26379:6379"
  atl_asana_web:
    build: .
    volumes:
      - ./app:/app
      - ./.env:/app/.env
    env_file:
      - ./.env
    expose:
      - 8000
  celery_worker:
    build: .
    command: celery -A atl_asana worker -l info
    volumes:
      - ./app:/app
    env_file:
      - ./.env
    depends_on:
      - redis
  celery_beat:
    build: .
    command: celery -A atl_domains beat -l info -S django
    volumes:
      - ./app:/app
    env_file:
      - ./.env
    depends_on:
      - redis
  nginx:
    image: nginx:alpine
    ports:
      - "${NGINX_PORT}:80"
      - "443:443"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
      - ./app/static:/app/static
      - ./app/media:/app/media
      - /etc/letsencrypt:/etc/letsencrypt:ro
    depends_on:
      - atl_asana_web
