services:
  redis:
    image: redis:7
    ports:
      - "26379:6379"
  db:
    image: postgres:15
    volumes:
      - atl_asana_pgdata:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_HOST_AUTH_METHOD: trust
    env_file:
      - ./.env
  atl-asana-web:
    build: .
    volumes:
      - ./app:/app
      - ./.env:/app/.env
    env_file:
      - ./.env
    depends_on:
      - db
    expose:
      - 8000
  celery_worker:
    build: .
    command: celery -A atl_asana worker -l info
    volumes:
      - ./app:/app
    env_file:
      - ./.env
    depends_on:
      - db
      - redis
  celery_beat:
    build: .
    command: celery -A atl_asana beat -l info -S django
    volumes:
      - ./app:/app
    env_file:
      - ./.env
    depends_on:
      - db
      - redis
  nginx:
    image: nginx:alpine
    ports:
      - "${NGINX_PORT}:80"
      - "443:443"
    volumes:
      - ./nginx_extra.conf:/etc/nginx/conf.d/uploads.conf:ro
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
      - ./app/static:/app/static
      - ./app/media:/app/media
      - /etc/letsencrypt:/etc/letsencrypt:ro
    depends_on:
      - atl-asana-web

  valentine-bot:
    build: .
    command: python valentine_bot.py
    volumes:
      - ./app:/app
      - ./.env:/app/.env
    env_file:
      - ./.env
    container_name: valentine_bot_app
    restart: always 
    logging:
      driver: "json-file"
      options:
        max-size: "10mb"
        max-file: "3"
    expose:
      - "8000"
volumes:
  atl_asana_pgdata:
