{%extends 'base.html'%}
{% load static %}

{%block content%}
<div class="container">
    <table class="table table-bordered w-full mx-auto">
            <tbody>
                <tr>
                    <th scope="row">Таск</th>
                    <td>{{ creative.task.task_name }}</td>
                </tr>
                <tr>
                    <th scope="row">Исполнитель</th>
                    <td>{{ creative.task.get_assignee_display }}</td>
                </tr>
                <tr>
                    <th scope="row">Баер</th>
                    <td>{{ creative.task.bayer_code }}</td>
                </tr>
                <tr>
                    <th scope="row">Ссылка</th>
                    <td><a href="{{ creative.task.url }}" target="_blank">открыть</a></td>
                </tr>
                <tr>
                    <th scope="row">Данных по страннам</th>
                    <td>{{creative.geo_data.all|length}}</td>
                </tr>
                <tr>
                    <th scope="row">Таск завершен</th>
                    <td>
                        {% if creative.task.is_completed %}
                        <span style="color: green;">✔</span>
                        {% else %}
                        <span style="color: #ccc;">✖</span>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th scope="row">Статус</th>
                    <td>{{ creative.get_status_display }}</td>
                </tr>
            </tbody>
        </table>
        <a class="btn btn-primary" href="{% url 'creative_quality:creative_geo_data_create' creative.pk%}">
            Добавить данные по гео
        </a>
        <table class="table table-bordered w-100 geo-data-table mt-3">
            <thead>
                <tr>
                    <th>Country</th>
                    <th>Hook</th>
                    <th>Hold</th>
                    <th>CTR</th>
                    <th>Comment</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for geo_data in creative.geo_data.all %}
                <tr>
                    <td>{{ geo_data.country }}</td>
                    <td>{{ geo_data.hook}}</td>
                    <td>{{ geo_data.hold}}</td>
                    <td>{{ geo_data.ctr }}</td>
                    <td>{{ geo_data.comment}}</td>
                    <td></td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="6" class="text-center text-muted">
                        No geo data
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
</div>

{%endblock%}